{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-recess-order"
  ],
  "rules": {
    "string-quotes": "single",
    "function-url-quotes": "never",
    "color-function-notation": "legacy",
    "alpha-value-notation": "number",
    "declaration-no-important": true,
    "keyframes-name-pattern": 0,
    "font-family-name-quotes": "always-where-required",
    "selector-class-pattern": null
  }
}