@import 'normalize.css';

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  font: 1.6rem Arial, sans-serif;
  color: black;
}

.container {
  max-width: 1110px;
  padding: 0 30px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.header__logo {
  display: block;
  width: 15rem;
  text-align: center;
}

.header__logo-text {
  display: block;
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__nav li:not(:last-child) {
  margin-right: 20px;
}
